/*
 *
 * Reset
 * 
 */
* { margin:0; padding:0; border:none; outline:none; list-style:none; }

/*
 *
 * Commons
 * 
 */
.fleft { float:left; }
.fright { float:right; }
.clear { clear:both; }

.nomargin { margin:0 !important; }

.mr10 { margin-right:10px; }
.ml10 { margin-left:10px; }
.mt10 { margin-top:10px; }
.mb10 { margin-bottom:10px; }

.mr5 { margin-right:5px; }
.ml5 { margin-left:5px; }
.mt5 { margin-top:5px; }
.mb5 { margin-bottom:5px; }

.mr15 { margin-right:15px; }
.ml15 { margin-left:15px; }
.mt15 { margin-top:15px; }
.mb15 { margin-bottom:15px; }

.mr20 { margin-right:20px; }
.ml20 { margin-left:20px; }
.mt20 { margin-top:20px; }
.mb20 { margin-bottom:20px; }

.spacer { display:block; width:100%; height:40px;  }
.spacer-small { display:block; width:100%; height:20px;  }
.spacer-large { display:block; width:100%; height:60px;  }

.bigger { font-size:1.5em; }

.hr {
	display:block;
	width:100%;
	height:1px;
	margin:10px 0;
	border-bottom:solid 1px  #ddd;
}


/*
 *
 * lists
 * 
 */
ol.number {
	margin-left:30px;	
}
ol.number li {
	margin-bottom:1em;
}
ol li ol {
	margin-left:30px;	
}
ol.number, ol.number li {
	list-style:decimal;
}
ol.letter, ol.letter li {
	list-style:upper-alpha;
}
ul.circle, ul.circle li {
	list-style:circle;
}




/*
 *
 * Menu
 * 
 */
ul.menu {
	display:block;
	margin:0;
	padding:0;
}

ul.menu li {
	display:block;
	margin-right:20px;
	float:left;
}

ul.menu li a {
	display:block;
	cursor:pointer;
}

ul.menu li.last {
	margin:0;
}