/*
 *
 * General elements
 *
 */
body {
	font-family:Helvetica, arial, sans-serif;
	color:#333333;
	min-width:980px;
}

a {
  color:#09F;	
}

div.success, div.error {
	font-size:12px;
}

.ui-widget {
	font-size:12px;
}

/*
 *
 * Layout
 *
 */
#page {
	margin-bottom:0px;
	position:relative;
}

#header {
	margin:0;
}

#header .inner {
	background:#ddd;
}

#header h1 {
	margin:0;
	text-align:left;
	font-size:24px;
	padding:10px;
	margin:0 auto;
	width:960px;
}

#header h1 a {
	text-decoration:none;
	color:#333;
}

#header #menu {
	background:#eee;
	font-size:12px;
}

#header #menu li.current a {
	color:#000;
	font-weight:bold;
	text-decoration:none;
}

#header #menu .inner {
	width:960px;
	margin:0 auto;
	padding:1em;
	height:1em;
	background:#eee;
}

#content {
	position:relative;
	width:960px;
	margin:0 auto;
	padding:0;
}

#content h1 {
	font-size:24px;
	margin:0;
	margin-bottom:10px;
}

#inner {
	margin:0 0;
	margin-top:40px;
}

#footer {
	text-align:left;
}
#footer .inner {
	padding:10px;
}
#footer .inner a {
	font-size:12px;
	text-decoration:none;
}




.list {
	font-size:12px;
	background:#eee;
	margin-bottom:30px;
	padding:10px;
}

.list ul {
	border:solid 1px #ddd;
	border-bottom:none;
}

.list li {
	padding:5px;
	border-bottom:solid 1px #ddd;
	background-color:#fff;
}

.list li.alt {
	
}

.list li:hover {
	background-color:#ffd;
}
.list li.noresult:hover {
	background-color:#fff;
}

.list li .label a {
	color:#000;
	text-decoration:none;
}
.list li .label a:hover {
	color:#000;
	text-decoration:underline;
}


.list li .icons {
	float:right;
	text-align:right;
}

.noresult {
	font-size:12px;
	color:#ccc!important;
	text-align:center!important;
}